<div class="container header-container">
  <a href="#" class="logo">
    <img src="./assets/icons/icon.svg" alt="grocerymart" />
    <h1 class="heading">grocerymart</h1>
  </a>
  <nav class="header-nav">
    <ul class="header-menu">
      <li class="header-item">
        <a href="#!" class="header-link">
          Departments
          <img src="./assets/icons/arrow-down.svg" alt="" />
        </a>
      </li>
      <li class="header-item">
        <a href="#!" class="header-link">
          Grocery
          <img src="./assets/icons/arrow-down.svg" alt="" />
        </a>
      </li>
      <li class="header-item">
        <a href="#!" class="header-link">
          Beauty
          <img src="./assets/icons/arrow-down.svg" alt="" />
        </a>
      </li>
    </ul>
  </nav>
  <div class="header-action">
    <a href="#!" class="header-search">
      <img src="./assets/icons/search.svg" alt="" />
    </a>
    <div class="header-action-group">
      <a href="#!" class="header-action-item">
        <img src="./assets/icons/heart.svg" alt="" />
        <span>03</span>
      </a>
      <div class="header-action-separate"></div>
      <a href="#!" class="header-action-item">
        <img src="./assets/icons/cart.svg" alt="" />
        <span>$65.42</span>
      </a>
    </div>
    <a href="#!" class="header-user">
      <img src="./assets/images/user-photo.jpg" alt="" />
    </a>
  </div>
</div>
